* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 0, 0);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div {
    width: 400px;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    background: rgba(231, 231, 231, 0.315);
    box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.205);
}

.name {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-style: italic;
    font-family: 'Audiowide', cursive;
    text-align: left;
    font-size: 3em;
    color: rgb(231, 231, 0);
    text-shadow: 3px 3px 10px rgb(241, 241, 86);
}

.title2 {
    font-style: italic;
    color: violet;
    text-shadow: 3px 3px 10px rgb(253, 125, 236);
    font-family: 'Audiowide', cursive;
    margin-bottom: 20px;
    text-align: left;
    font-size: 3.5em;
}

.butao {
    color: whitesmoke;
    font-size: 1.5em;
    background: none;
    border: none;
    outline: none;
}

.footer {
    color: white;
    padding-bottom: 40px;
}

.footer a {
    color: violet;
    text-decoration: none;
}

@media (max-width: 550px) {
    .div {
        width: 300px;
    }
}
